* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
  }
  
  button {
    background-color: #225ca3;
    border: 0;
    color: white;
    transition: background-color .1s;
    border-radius: 5px;
  }
  
  textarea, input {
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  form label {
    display: block;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
  }
  
  main {
    flex: 1;
    padding: 2% 4%;
  }
  
  .btn-no-style:hover {
    background: none;
    color: #3486eb;
  }
  
  .delete-post-btn {
    background-color: #d41414;
  }
  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }

  .comment-form {
    margin-bottom: 5%;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }

  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
  .new-post input {
    width: 300px;
  }
  
  .edit-post-form {
    margin-bottom: 5%;
  }